.yellow {
    color: #cc8727;
}

.green {
    color: #098d27;
}

.red {
    color: #dd5303;
}

.grey {
    color: #666;
}

.greenBG {
    color: #fff;
    background-color: #95B69D!important;
}

.redBG {
    color: #fff;
    background-color: #dd5303!important;
}

.blueBG {
    color: #fff;
    background-color: #02508b!important;
}

body {
    font-size: 14px;
    font-family: 'Microsoft YaHei',Consolas;
}

.margin-tb-5{margin:5px 0;}

#info {
    padding-bottom: 41px;
}

.bottom-btn {
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px #ddd solid;
    background-color: #eee;
    height: 20px;
}

.nc-header {
    background-color:#2196F3;color:#fff;padding:30px 0;font-size:2em;
}

.list-config{
    margin:10px 0;
}
.list-config .am-list li{position:relative;padding-left:5px;}
.list-config .am-list li:hover{background-color:#eeeeee;}

.nc-item-btns{
    position:absolute;right:5px;top:5px;display:none;
}
.nc-item-btns button{margin:0 0.1rem;}

.config-wrap{height:356px;overflow:auto;padding:0 10px;}
.config-wrap .input-text{border:1px #ccc solid;line-height:1.2;color:#555;background-color:#fff;padding:3px 14px;}
.config-add input[type=text]{font-family:consolas;}
.config-add>li{padding:5px 0;}
.config-add .am-g{margin:5px 0;}
.config-add .ca-level{display:block;padding:.625em 0;text-align:right;}

.transition{transition:all ease 600ms;-webkit-transition:all ease 600ms;-moz-transition:all ease 600ms;}
.wrap{-webkit-transform:translateY(0%);}
.wrap-go{transform:translateY(-100%);-webkit-transform:translateY(-100%);-moz-transform:translateY(-100%);}
.footer-bar{position:fixed;bottom:0;left:0;width:100%;padding:5px 0;background-color:#EEE;border-top:1px #DDD solid;transform:translateY(42px);-webkit-transform:translateY(42px);-moz-transform:translateY(42px);}

.log-list{margin:0;position:fixed;top:0;left:0;bottom:42px;width:100%;background:#fff;display:none;overflow:auto;}
.log-list li{padding:5px 10px;font-family:Consolas;font-size:0.8rem;}


.footer-bar b{color:#F0CB0B;}
.footer-bar-active{transform:translateY(0px);-webkit-transform:translateY(0px);-moz-transform:translateY(0px);}
